!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Politk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    :css
      body{
        margin-bottom: 100px;
        / padding-top: 55px;
        background-color: #CEE2E1;
        background-image: linear-gradient(-45deg, 
          rgba(255, 255, 255, 0.1) 5%,
          transparent 20%, 
          transparent 50%, 
          rgba(255, 255, 255, 0.1) 50%,
          rgba(255, 255, 255, 0.1) 75%, 
          transparent 20%, 
          transparent
        );
      }
      
  %body
    -if notice
      %p.notice= notice
    -if alert
      %p.alert= alert
    = yield

    